* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}
p {
  margin: 0;
}
ul {
  margin: 0;
}
.container {
  width: 1264px !important;
  margin: 0 auto;
}
select {
  -webkit-appearance: none;
}

.to-up-box {
  display: none;
}
.to-up {
  position: fixed;
  bottom: 4%;
  left: 95%;

  transition: bottom 0.2s ease-in-out;
  z-index: 10;

  cursor: pointer;
}
